@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: Inter-medium;
    src: url("../fonts/Inter-Medium.otf");
    font-display: swap;
}

@font-face {
    font-family: Inter-semibold;
    src: url("../fonts/Inter-SemiBold.otf");
    font-display: swap;
}

@font-face {
    font-family: Inter-bold;
    src: url("../fonts/Inter-Bold.otf");
    font-display: swap;
}

@font-face {
    font-family: Inter-extrabold;
    src: url("../fonts/Inter-ExtraBold.otf");
    font-display: swap;
}

@font-face {
    font-family: Inter-light;
    src: url("../fonts/Inter-Light.otf");
    font-display: swap;
}

@font-face {
    font-family: Inter-extralight;
    src: url("../fonts/Inter-ExtraLight.otf");
    font-display: swap;
}


html,body {
    padding: 0;
    margin: 0;
    border: 0;

    --regularWidth--:100%;

    --mainColor--: #006E36;
    --Gray--: #1D1D1D;
    --headerHeight-- : 140px;
    --logoHeight-- : 90px;
    --logoWidth-- : 458px;
    --logoLeft-- : 40%;

    --textDecorationBorderRight--: 30%;

    --mainSliderheight--: 519px;
    --serviceBoxHeight--: 741px;

    --ConsultSocHeight--: 226px;
    --StandartHeightConsult-- : 61px;
}


.preloader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.preloaderLogo {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    top: 35%;
}
.preloaderPhoto {
    width: 320px;
    height: auto;
}
.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
        spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
    ;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--headerHeight--);
    background-color: black;
}


.headerLogo {
    width: var(--logoWidth--);
    height: var(--logoHeight--);
    cursor: pointer;
}

.navigation {
    position: sticky;
    top:0;
    width: calc(100% - 150px);
    height: 63px;
    padding-left: 75px;
    padding-right: 75px;
    background: #1D1D1D;
    color: #FFFFFF;


    font-family: Inter-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;


    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    z-index: 10;
}

.mobileNavigation {
    height: 48px;
    background: #1D1D1D;
    color: #FFFFFF;

    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    display: none;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    overflow-y: hidden;
    transition: 0.9s;

    z-index: 10000000000;
}

.nav {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;

}

.list {
    display: block;
    position: absolute;
    z-index: 1;
    top: 3.52941em;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 664px;
    margin: 0 auto;
    padding: 45px 40px 8px;
    height: auto;
}

.list hr, .mobileNavigation hr {
    content: '';
    display: block;
    width: 584px;
    height: 1px;
    background: #424245;
    border: 0;
    margin-inline-start: 0;
}

.mobileNavigation hr {
    width: 100%;
    margin-inline-start: auto;
}

.mobileNavigationLogo {
    width: 208px;
    height: 40px;
}

.mobileNavigation button {
    width: 38px;
    height: 38px;
    position: absolute;
    left: 10px;
    background: #1D1D1D;
    padding: 0;
    border: 0;
}





.navigation a, .mobileNavigation a {
    text-decoration: none;
    color: #FFFFFF;
}

.navigation  a:hover {
    cursor: pointer;
    color: var(--mainColor--);
}

.mainSlider{
    position: absolute;
    top:203px;
    width: var(--regularWidth--);
    height: var(--mainSliderheight--);
}

.mainSliderDecoration {
    position: absolute;
	width: 770px;
	border-top: var(--mainSliderheight--) solid rgba(0, 0, 0, 0.68);
	border-right: var(--textDecorationBorderRight--) solid transparent;	
    z-index: 1;
}

.mainSliderTextBox {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 500px;
    left: 50px;
    top: 28px;

    align-items: flex-start;

    z-index: 2;
}

.mainSliderTextBox h1 {
    font-family: Inter-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    

    color: #FFFFFF;
}

.mainSliderTextBox p{
    font-family: Inter-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    color: #FFFFFF;

}

.mainSliderAchives {
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);

    gap: 20px 40px;

    align-items: center;

}

.mainSliderIcon {
    width: 64px;
    height: 64px;
}

.serviceBox {
    position: relative;
    width: 100%;
    height: 741px;

    margin-top: 30px;
    background: #FBFBFB;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.serviceBox h2 {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    text-align: center;

    margin: 20px 0px;

    color: #000000;
}

.serviceBox p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin: 0;
    color: #000000;
}

.serviceBox a {
    font-family: Inter-light;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;

    margin: 19px;

    color: #006E36;

    text-decoration: none;
    cursor: pointer;
}


.pcPhoto {
    position: absolute;
    bottom: 0;
    width: 52%;
    height: 65%;
    overflow: hidden;
}
.LaptopPhoto {
    position: absolute;
    bottom: 0;
    width: 84%;
    height: 61%;
}

.phones, .pads {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.PhonePhotoOne {

    width: 36.8%;
    height: 500px;
}

.PhonePhotoTwo {

    width: 36.9%;
    height: 502px;
    
}

.PhonePhotoThree {
    display: none;
    width: 325px;
    height: 380px; 
}

.PadPhotoOne {
    width: 34.7%;
    height: 525px;
}

.PadPhotoTwo {
    width: 38.88%;
    height: 470px;
    
}

.PadPhotoThree {
    width: 400px;
    height: 400px;
    display: none; 
}

.cartridgePhoto {
    max-width: 815px;
    height: auto;
    position: absolute;
    bottom: 90px;
}

.PrinterPhoto {
    width: 761px;
    height: 349px;
    position: absolute;
    bottom: 0;
}

.footer {
    width: calc(100% - 118px);
    height: 990px;
    margin-top: 30px;
    padding: 65px 59px;

    background: #000000;


    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center
}

.footerLogoBox {
    width: 464px;
    height: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogoBox hr {
    width: 100%;
    color: white;
}

.footerLogo {
    width: 72.5%;
    height: 86.3%;
}

.footerIcon {
    width: 50px;
    height: 50px;
}

.footerInformation {
    width: 100%;
    height: 185px;
    margin: 80px 0px;
    display: flex;
    justify-content: space-between;
}

.footerInformation h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    
}

.footerInformation p, .phoneNumber {
    font-family: Inter-light !important;
    font-style: normal!important;
    font-weight: 300!important;
    font-size: 28px!important;
    line-height: 34px!important;
    margin: 0!important;
    color: #FFFFFF!important;
    text-decoration: none !important;

}

.footerInformation a {
    font-family: Inter-extralight;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    margin: 0;
    color: #FFFFFF;

}

.location {
    height: 100%;
    display: grid;

    gap: 15px 18px;

    grid-template-areas: ". label" "IconOne AdressTwo" "IconTwo AdressOne";
    align-items: center;
}

.adress {
    display: flex;
    flex-direction: column;
}

.schedule {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.workHours {
    display: grid;
    grid-template: repeat(2, auto)/repeat(2,auto);
    gap: 10px 20px;
}

.socialNets {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.socialNetIcon {
    width: 38px;
    height: 38px;
}



.socialNet:hover {
    background-color: var(--mainColor--);
    transition: all 0.5s;
    transform: scale(1.3, 1.3);
}

.contacts {
    height: 100%;
    display: grid;

    gap: 15px 18px;

    grid-template-areas: ". label" "IconOne ContactOne" "IconTwo ContactTwo";
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
}

.map {
    width: 100%;
    height: 443px;
    z-index: 11;
}


@media only screen  and (max-width: 1150px) {
    .navigation {
        font-size: 14px;
        line-height: 17px;
    }
}


@media only screen  and (max-width: 1024px) {
    .navigation {
        font-size: 12px;
        line-height: 13px;

        width: calc(100% - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }

    .pcPhoto {
        width: 70%;
    }

    .LaptopPhoto {
        width: 90%;
    }

    .PhonePhotoOne {
        width: 47%;
        height: 480px;
    }

    .PhonePhotoTwo {
        width: 40%;
        height: 420px;
    }

    .PadPhotoOne {
        width: 42%;
    }
    .PadPhotoTwo {
        width: 40%;
        height: 470px;
    }
    .PrinterPhoto {
        width: 615px;
        height: 300px;
    }
    .footer {
        padding: 65px 35px;
        width: calc(100% - 70px);
    }
    .footerIcon, .socialNetIcon {
        width: 32px;
        height: 32px;
    }
    .footerInformation h3 {
        font-size: 25px;
        line-height: 32px;
    }
    .footerInformation p, .phoneNumber {
        font-size: 20px!important;
        line-height: 25px!important;
    }
    .footerInformation a {
        font-size: 12px;
        line-height: 16px;
    }
    .contact, .location  {
        align-items: center;
        gap: 10px 5px;
    }
    .contacts {
        gap: 10px 5px;
    }
    .workHours {
        gap: 10px 5px;
    }

}

@media only screen  and (max-width: 850px) {
    .navigation {
        font-size: 10px;
        line-height: 12px;
    }
    .contact, .location {
        align-items: center;
        gap: 0px 5px;
    }
    .footerInformation {
        height: 130px;
        margin: 60px 0px;
    }
    .socialNetIcon {
        width: 28px;
        height: 28px;
    }
    .LaptopPhoto {
        width: 640px;
        height: 250px;
    }
    .cartridgePhoto {
        max-width: 760px;
    }
}

@media only screen  and (max-width: 768px) {
    body {
        --mainSliderheight--: 450px;

        --headerHeight--: 90px;
        --logoHeight--: 50px;
        --logoWidth--: 270px;
    }
    .mobileNavigation {
        display: flex;
        position: fixed;
        top: 0px;
        z-index: 1000;
        overflow: hidden;
    }
    .navigation {
        display: none;
    }
    .mainSliderTextBox h1 {
        margin: 0;
        margin-bottom: 40px;
        font-size: 55px;
        line-height: 70px;
    }
    .mainSlider p {
        font-size: 35px;
        line-height: 65px;
    }
    .mainSlider{
        position: absolute;
        top: 128px;
        height: 450px;
        top: 48px;
    }

    .serviceBox {
        height: 530px;
    }

    .serviceBox h2 {
        font-size: 43px;
        line-height: 53px;
    }
    .serviceBox p {
        font-size: 18px;
        line-height: 24px;
    }
    .serviceBox a {
        font-size: 16px;
        line-height: 22px;
        margin: 12px;
    }

    .PhonePhotoTwo, .PhonePhotoOne, .PadPhotoOne, .PadPhotoTwo, .header {
        display: none;
    }
    .PhonePhotoThree {
        display: block;
    }
    .phones, .pads {
        justify-content: center;
    }

    .PadPhotoThree {
        display: block;
    }
    .PrinterPhoto {
        width: 515px;
        height: 260px;
    }
    .footerLogoBox {
        width: 380px;
        height: 90px;
    }
    .footer {
        padding: 35px 15px;
        width: calc(100% - 30px);
    }
    .LaptopPhoto {
        width: 640px;
        height: 280px;
        bottom: 40px;
    }

    .footerIcon, .socialNetIcon {
        width: 28px;
        height: 28px;
    }
    .footerInformation h3 {
        font-size: 20px;
        line-height: 27px;
    }
    .footerInformation p, .phoneNumber {
        font-size: 17px!important;
        line-height: 22px!important;
    }
    .footerInformation a {
        font-size: 10px;
        line-height: 14px;
    }
    .contacts {
        gap: 5px 5px;
    }
    .workHours {
        gap: 5px 5px;
    }
    .pcPhoto {
        width: 425px;
        height: 335px;
    }
    .PhonePhotoThree {
        height: 360px; 
    }
    .PadPhotoThree {
        height: 360px;
    }
    .cartridgePhoto {
        max-width: 630px;
    }
}

@media only screen  and (max-width: 640px) {

    body {
        --logoWidth--: 250px;
    }
    .mainSliderTextBox {
        left: 20px;
        font-size: 50px;
        width: 350px;
    }
    .mainSliderTextBox h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .mainSlider p {
        font-size: 25px;
        line-height: 35px;
    }
    .mainSliderIcon {
        width: 48px;
        height: 48px;
    }
    .serviceBox h2 {
        font-size: 28px;
        line-height: 35px;
        margin: 10px 0px;
    }
    .serviceBox p {
        font-size: 16px;
        line-height: 22px;
    }
    .serviceBox a {
        font-size: 14px;
        line-height: 20px;
    }
    .PrinterPhoto {
        width: 415px;
        height: 220px;
        bottom: 50px;
    }
    .footer {
        height: 1100px;
    }
    .footerInformation {
        flex-direction: column;
        height: 500px;
        width: 230px;
        margin: 20px 0px;
    }
    .contacts {
        order: 1;
        grid-template-columns: 30px 200px;
        gap: 0 5px;
        grid-template-areas: "label label" "IconOne ContactOne" "IconTwo ContactTwo";
        
    }
    .location {
        order: 2;
        grid-template-areas: "label label" "IconOne AdressTwo" "IconTwo AdressOne";
    }
    .schedule{
        order: 3;
    }
    .contacts, .location, .schedule {
        height: 150px;
    }
    .contact {
        align-items: flex-start;
    }
    .workHours {
        gap: 10px 30px;
    }
    .socialNets {
        justify-content: space-around;
    }
    .PhonePhotoThree {
        height: 380px; 
    }
    .PadPhotoThree {
        height: 380px; 
    }

    .pcPhoto {
        width: 425px;
        height: 350px;
    }
    .cartridgePhoto {
        max-width: 440px;
    }
    
}

@media only screen  and (max-width: 460px) {

    .LaptopPhoto {
        width: 425px;
        height: 240px;
    }
    .cartridgePhoto {
        max-width: 430px;
    }

}

@media only screen  and (max-width: 435px) {

    body {
        --mainSliderheight--: 380px;
        --logoHeight--: 55px;
        --logoWidth--: 300px;
    }

    .mainSliderTextBox {
        top: 10px
    }

    .mainSlider {
        height: 380px;
    }

    .serviceBox h2 {
        font-size: 25px;
        line-height: 32px;
    }
    .serviceBox p {
        font-size: 13px;
        line-height: 17px;
    }

    .serviceBox a {
        font-size: 12px;
        line-height: 14px;
    }

    .serviceBox {
        height: 450px;
    }

    .pcPhoto {
        width: 360px;
        height: 300px;
    }

    .LaptopPhoto {
        width: 370px;
        height: 210px;
    }

    .PhonePhotoThree {
        width: 280px;
        height: 310px;
    }

    .PadPhotoThree {
        width: 320px;
        height: 320px;
    }

    .PrinterPhoto {
        width: 370px;
        height: 180px;
        bottom: 50px;
    }

    .navigation {
        font-size: 5px;
        line-height: 7px;
    }

    .footerLogoBox {
        width: 320px;
        height: 90px;
    }
    .cartridgePhoto {
        max-width: 350px;
    }

}

@media only screen  and (max-width: 385px) {
    .serviceBox h2 {
        font-size: 22px;
        line-height: 25px;
        margin: 10px 0px;
    }

    .serviceBox a {
        font-size: 11px;
        line-height: 14px;
    }

    .serviceBox p {
        font-size: 11px;
        line-height: 14px;
    }
    .serviceBox {
        height: 400px;
    }
    .pcPhoto {
        width: 325px;
        height: 280px;
    }
    .LaptopPhoto {
        width: 325px;
        height: 170px;
    }
    .PhonePhotoThree {
        width: 270px;
        height: 290px;
    }
    .PadPhotoThree {
        width: 320px;
        height: 300px;
    }
    .PrinterPhoto {
        width: 325px;
        height: 170px;
    }
    .mainSliderIcon {
        width: 32px;
        height: 32px;
    }
    .mainSlider {
        height: 350px;
    }
    .mainSlider p {
        font-size: 22px;
        line-height: 24px;
    }
    .mainSliderTextBox h1 {
        font-size: 35px;
        line-height: 55px;
    }
    .mainSliderAchives {
        gap: 20px 25px;
    }

    .mainSliderTextBox {
        width: 300px;
    }

   body {
    --mainSliderheight--: 350px;
   }
   .cartridgePhoto {
    max-width: 320px;
}

}

@media only screen and (max-width: 325px) {
    .serviceBox h2 {
        font-size: 16px;
        line-height: 20px;
    }
    body {
        --logoHeight--: 45px;
        --logoWidth--: 230px;
        --headerHeight--: 80px;
        --mainSliderheight--: 320px;
    }

    .mainSliderTextBox {
        width: calc(100% - 20px);
    }
    .mainSliderTextBox h1 {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    .mainSliderAchives {
        gap: 20px 15px;
    }

    .serviceBox p {
        font-size: 8px;
        line-height: 14px;
    }

    .serviceBox {
        height: 320px;
    }

    .pcPhoto {
        width: 250px;
        height: 200px;
    }

    .LaptopPhoto {
        width: 250px;
        height: 130px;
    }
    .PhonePhotoThree {
        width: 200px;
        height: 220px;
    }

    .PadPhotoThree {
        width: 250px;
        height: 225px;
    }

    .PrinterPhoto {
        width: 250px;
        height: 120px;
    }

    .footerLogoBox {
        width: 250px;
        height: 90px;
    }
    .footerLogo {
        width: 80%;
        height: 65%;
    }

    .cartridgePhoto {
        max-width: 300px;
    }
    
    
}

