.mainLabel {
    position: relative;
    width: 100%;
    height: 349px;
}

.mainLabelBackground {
    width: 100%;
    height: 100%;
}

.mainLabelTextbox {
    position: absolute;
    top: 90px;
    left: 45px;

}

.mainLabel h1 {
    font-family: Inter-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.price {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.priceLabel {
    display: flex;
    width: calc(95% - 40px);
    height: 42px;
    margin: 25px 2.5%;
    padding: 0 40px 0 0;
    justify-content: space-between;
}

.priceLabel h2 {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
}

.priceLabel hr {
    content: '';
    width: 55%;
    height: 5px;
    background: var(--mainColor--);
    border: 0;
    border-radius: 10px;
    margin-inline-start: 0;
    margin-top: 27px;
    margin-right: 0;
}

.priceDescription {
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    justify-items: flex-start;
    align-items: center;
}

.priceDescription p  {
    font-family: Inter-bold;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}

.priceDescription span {
    color: var(--mainColor--) !important;
}

table {
    width: 95%;
    margin: 0 2.5%;
    border-spacing: 40px 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

th {
    padding: 10px 20px;
    background: #000000;
    color: #ffffff;
    border-right: 2px solid; 
    

    font-family: Inter-medium;
}


td {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

    vertical-align: middle;
    padding: 10px;
    text-align: center;
    border: 2px solid #56433D;
}

.consultation {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "label label" 
    "textboxOne textboxTwo" 
    "buttonOne buttonTwo" ;
    justify-items: center;
    align-items: baseline;
    background: rgba(246, 246, 246, 0.21);
}

.consultation h2 {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
}

.consultation p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin: 0;
}

.consultation button {
    font-family: Inter-light;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: white;
    border: 0;
    padding: 10px 25px;
    height: 60px;
    width: 500px;
    background: var(--mainColor--);
    cursor: pointer;
}






.fixBlock {
    position: relative;
    width: 100%;
    background: #000000;
    overflow-x: hidden;

    padding: 10px 0px;
}

.fixBlockContainer {
    display: grid;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns:  422px 15px  58px 529px;
    grid-template-rows: 222px 430px 40px 576px 77px 505px 110px 680px;
}

.PCfix {
    display: block;
    width: 644px;
    height: 690px;
    z-index: 5;
    grid-column: 1/3;
    grid-row: 1/4;
    justify-self: end;
}

.monoblock {
    width: 656px;
    height: 690px;
    z-index: 4;
    grid-column: 2/5;
    grid-row: 3/5;
}

.pcComponents {
    width: 648px;
    height: 690px;
    padding-left: 9px;
    z-index: 3;
    grid-column: 1/3;
    grid-row: 5/8;
    justify-self: end;
}

.desktop {
    width: 656px;
    height: 690px;
    z-index: 4;
    grid-column: 2/4;
    grid-row: 7/9;
}

.fixBlock h2 {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 83px;
    line-height: 95px;
    color: white;
    grid-column: 3/4;
    grid-row: 1;
    margin: 27px 81px 67px 77px;
}

.fixBlock p {
    font-family: Inter-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #86868B;
    margin: 0;
}

.fixBlock span {
    font-family: Inter-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 58px;
    color: white;
}

.textOne {
    grid-column: 4;
    grid-row: 2;
    margin-top: 70px !important;
}

.textTwo {
    grid-column: 1;
    grid-row: 4;
    margin: 80px 53px !important;
    height: 260px;
}

.textThree {
    grid-column: 3;
    grid-row: 6;
    margin: 80px auto 80px 113px !important;
}

.textFour {
    grid-column: 1;
    grid-row: 8;
    margin: 152px 104px auto auto !important;
}

.UpgradeBlock {
    width: 100%;
    overflow: hidden;

    position: relative;
    padding: 10px 0;
}

.UpgradeContainer {
    display: grid;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 399px 92px minmax(100px, 523px);
    grid-template-rows: 134px 363px 134px 47px 50px 446px 50px 36px 780px;
}

.WideFhoto {
    width: 720px;
    height: 657px;
    z-index: 5;
    grid-column: 1/3;
    grid-row: 1/4;
    justify-self: end;
}

.macroPhoto {
    display: block;
    width: 810px;
    height: 626px;
    z-index: 4;
    overflow: hidden;
    grid-column: 2/4;
    grid-row: 4/8;
}

.macroPC {
    width: 726px;
    height: 883px;
    z-index: 3;
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 8/9;
    justify-self: end;
}

.UpgradeBlock h2 {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
    margin: 0;

    color: black;
}

.UpgradeBlock p {
    font-family: Inter-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #6E6E73;
    margin: 0;
}

.UpgradeBlock span {
    font-family: Inter-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 58px;
    color: black;
}

.Upgradelabel {

    grid-column: 3/4;
    grid-row: 2;
    margin-left: 55px;
    width: auto;
    height: auto;
    align-self: center;
}

.UpgradeTextBox {
    grid-column: 1;
    grid-row: 6;
    margin-right: 30px;
    width: auto;
    height: auto;
    width: 386px;
    height: 446px;
}

.UpgradeAdvantages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 112px;
    margin-top: 20px;
    grid-column: 3;
    grid-row: 9;
}

.graphics {
    width: 90%;

    margin: 105px 85px 85px 85px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 75px 75px 50px 200px;

}

.graphicsListBox {
    display: flex;
    justify-content: space-between;
    grid-column: 1;
    grid-row: 1/4;
}

.graphicsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.activated, .nonActivated  {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    cursor: pointer;
}

.nonActivated {
    color: #AAAAAA;
}

.activated {
    color: black;
    font-size: 30px;
}

.vl {
    border-left: 1px solid #AAAAAA;
    height: 100%;
    margin-left: 10px;
}

.graphicsLines {
    grid-column: 2;
    grid-row: 1/4;
}

.graphicLine {
    display: flex;
}

.mainLineContainer, .lineContainer  {
    width: 60%;
    margin-left: 25px;
    margin-right: 25px;
}

.one {
    width: 40%;
}

.two {
    width: 28%;
}

.lineContainer p, .mainLineContainer p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin-top: 10px;
    margin-left: 5px;
    color: #AAAAAA;
}

.mainLine, .line {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    background: #000000;
    margin-bottom: 0;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-name: lengthening;
    -webkit-animation-name: lengthening;
}

.line {
    background: #AAAAAA;
}

.mainforce h3 {
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

.mainforce p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin-top: 5px;
}

.force h4{
    font-family: Inter-semibold;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    margin: 0;

    color: #AAAAAA;
}

.graphicsDescription {
    grid-column: 1/3;
    grid-row: 4;
    margin-top: 15px;
}

.graphicsDescription p, .footnote {
    font-family: Inter-light;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.footnote {
    font-size: 12px !important;
    line-height: 15px !important;
}

.CPU {
    visibility: visible;
}
.GPU {
    visibility: hidden;
}
.SSD {
    visibility: hidden;
}
.RAM {
    visibility: hidden;
}

.guard {
    width: 100%;
    
    background: #111111;

    display: flex;
    flex-direction: column;

    margin-top: 75px;
}

.guard h2 {
    font-family: Inter-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;

    text-align: center;

    color: white;

    margin-top: 35px;
    margin-bottom: 25px;
}

.guard span {
    color: var(--mainColor--);
}

.guardTextbox {
    font-family: Inter-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    text-align: center;

    color: white;
}

.guardTextbox p {
    margin: 0;
}

.guardIcon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.guardFooter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.guardFooterAchives {
    width: 460px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: white;

    margin-left: 50px;
    margin-bottom: 35px;
}

.guardFooterAchivesDesc a {
    font-family: Inter-extralight;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
}

.guardFooterAchivesPoint {
    width: 100%;

    display: flex;
    align-items: center;

    margin: 17px 0 13px 0;
}

.guardFooter hr {
    margin: 0;
    border: 1px solid rgba(70, 70, 70, 0.9);
    background: rgba(70, 70, 70, 0.9);
    border-radius: 5px;
}

.guardFooterAchives p {
    margin: 0;
}

.shild {
    position: relative;
    width: 650px;
    height: 505px;
}

.footer {
    margin-top: 0;
}

@media only screen  and (max-width: 1140px) {
    td {
        font-size: 22px;
    }
    .priceDescription p {
        font-size: 24px;
    }
    .priceLabel h2{
        font-size: 37px;
    }

    .shild {
        width: 550px;
    }
}

@media only screen  and (max-width: 1024px) {

    .mainLabel h1 {
        font-size: 48px;
    }

    table {
        width: 100%;
        margin: 0;
        border-spacing: 20px 10px;
    }

    .priceLabel {
        width: calc(100% - 40px);
        margin: 25px 0;
        padding: 0 20px 0 20px;
    }
    .priceLabel hr {
        width: 46%;
    }
    .priceLabel h2 {
        font-size: 35px;
    }
    .priceDescription p {
        font-size: 21px;
    }
    .consultation {
        height: 450px;
    }

    .consultation h2 {
        font-size: 50px;
        line-height: 64px;
    }
    .consultation p {
        font-size: 25px;
        line-height: 32px;
    }
    .consultation button {
        font-size: 25px;
        line-height: 32px;
        color: white;
        border: 0;
        padding: 5px 10px;
        width: 360px;
    }
    .fixBlockContainer {
        width: 768px;
        grid-template-columns:  316.5px 11.25px  43.5px 396.75px;
        grid-template-rows: 166.5px 322.5px 30px 432px 57.75px 378.75px 82.5px 510px;
    }
    .PCfix {
        display: block;
        width: 455.75px;
        height: 519px;
        z-index: 5;
        grid-column: 1/3;
        grid-row: 1/4;
        justify-self: end;
    }
    
    .monoblock {
        width: 490px;
        height: 519.75px;
        z-index: 4;
        grid-column: 2/5;
        grid-row: 3/5;
    }
    
    .pcComponents {
        width: 455.75px;
        height: 517.5px;
        padding-left: 9px;
        z-index: 3;
        grid-column: 1/3;
        grid-row: 5/8;
        justify-self: end;
    }
    
    .desktop {
        width: 490px;
        height: 517.5px;
        z-index: 4;
        grid-column: 2/4;
        grid-row: 7/9;
    }
    .fixBlock h2 {
        font-family: Inter-semibold;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 65px;
        color: white;
        grid-column: 3/4;
        grid-row: 1;
        margin: 20px 61px 50px 57.75px;
    }
    
    .fixBlock p {
        font-family: Inter-medium;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    
        color: #86868B;
        margin: 0;
    }
    
    .fixBlock span {
        font-family: Inter-medium;
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 58px;
        color: white;
    }
    
    .textOne {
        grid-column: 4;
        grid-row: 2;
        margin-top: 52px !important;
    }
    
    .textTwo {
        grid-column: 1;
        grid-row: 4;
        margin: 60px 39.75px !important;
        height: 195px;
    }
    
    .textThree {
        grid-column: 3;
        grid-row: 6;
        margin: 80px auto 80px 113px !important;
    }
    
    .textFour {
        grid-column: 1;
        grid-row: 8;
        margin: 115px 80px auto auto !important;
    }

    .UpgradeContainer {
        width: 768px;
        grid-template-columns: calc(399px * 0.75) calc(92px * 0.75) calc(523px * 0.75);
        grid-template-rows: calc(134px * 0.75) calc(363px * 0.75) calc(134px * 0.75) calc(47px * 0.75) calc(50px * 0.75) calc(446px * 0.75) calc(50px * 0.75) calc(36px* 0.75) calc(780px* 0.75);
    }
    .WideFhoto {
        width: calc(720px*0.75);
        height: calc(657px*0.75);
    }
    
    .macroPhoto {
        width: calc(810px*0.75);
        height: calc(626px*0.75);
    }
    
    .macroPC {
        width: calc(726px*0.75);
        height: calc(883px*0.75);
    }
    
    .UpgradeBlock h2 {
        font-size: 59px;
        line-height: 70px;
    }
    
    .UpgradeBlock p {
        font-size: 17px;
        line-height: 19px;
    }
    
    .UpgradeBlock span {
        font-size: 45px;
        line-height: 50px;
    }
    
    .Upgradelabel {
        margin-left: 55px;
    }
    
    .UpgradeTextBox {

        margin-right: 20px;
        width: calc(386px*0.75);
        height: calc(446px*0.75);
    }
    
    .UpgradeAdvantages {

        margin-left:80px;
        margin-top: 15px;

    }

    .graphicsDescription p {
        font-size: 14px;
        line-height: 18px;
    }

    .graphics {
        width: 95%;
        margin: 105px 25px 65px 25px;
    }

    .guard h2 {
        font-size: 50px;
        line-height: 65px;
    }
    .guardTextbox {
        font-size: 17px;
        line-height: 22px;
    }
    .shild {
        width: 450px;
        height: 400px;
    }
    .guardFooterAchivesDesc a{
        font-size: 11px;
        margin-top: 10px;
        line-height: 18px;
    }
    .guardIcon {
        width: 24px;
        height: 24px;
    }
    .guardFooterAchivesPoint {
        margin: 10px 0 7px 0;
    }
    .guardFooterAchives {
        width: 280px;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 45px;
    }
}

@media only screen  and (max-width: 880px) {
    table {
        font-size: 20px;
    }
    td {
        font-size: 19px;
    }
    .priceDescription p {
        font-size: 19px;
    }

    .consultation h2 {
        font-size: 45px;
        line-height: 59px;
    }
    .consultation p {
        font-size: 22px;
        line-height: 28px;
    }
    .consultation button {
        font-size: 25px;
        line-height: 32px;
        color: white;
        border: 0;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .mainLabel {
        height: 250px;
        margin-top: 48px;
    }
    .mainLabelTextbox {
        top: 60px;
        left: 25px;
    }
    .mainLabel h1 {
        font-size: 35px;
    }

    .consultation h2 {
        font-size: 28px;
        line-height: 32px;
    }
    .consultation p {
        font-size: 16px;
        line-height: 22px;
    }
    .consultation button {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 5px;
        width: 220px;
        height: 40px;
    }
    .consultation {
        height: 300px;
    }

    table {
        border-spacing: 5px;
        font-size: 13px;
        line-height: 15px;
    }
    td {
        font-size: 13px;
        line-height: 15px;
        padding: 5px;
    }
    th {
        padding: 5px 10px;
    }
    
    .priceLabel {
        width: calc(100% - 20px);
        margin: 15px 0;
        padding: 0 10px 0 10px;
    }
    .priceLabel {
        height: 30px;
        align-items: center;
    }
    .priceLabel hr {
        width: 45%;
        margin-top: 15px;
    }
    .priceLabel h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .priceDescription p {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }

    .fixBlockContainer {
        width: 425px;
        grid-template-columns:  425px;
        grid-template-rows: 166.5px 300px 520px 322.5px 520px 378.75px 510px 378.75px 520px;
        justify-items: center;
        align-items: center;
    }
    .PCfix {
        width: 425px;
        height: 520px;
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
    }
    
    .monoblock {
        width: 425px;
        height: 520px;
        grid-column: 1;
        grid-row: 5;
        justify-self: center;
    }
    
    .pcComponents {
        width: 455.75px;
        height: 517.5px;
        grid-column: 1;
        grid-row: 7;
        justify-self: center;
    }
    
    .desktop {
        width: 490px;
        height: 520px;
        grid-column: 1;
        grid-row: 9;
        justify-self: center;
    }
    .fixBlock h2 {
        text-align: left;
        grid-column: 1;
        grid-row: 1;
        margin: 40px 0 0 0;
    }
    
    .fixBlock p {
        margin: 0;
    }
    
    .textOne {
        grid-column: 1;
        grid-row: 2;
        margin-top: 0 !important;
    }
    
    .textTwo {
        grid-column: 1;
        grid-row: 4;
        margin: 0 !important;
        height: 195px;
    }
    
    .textThree {
        grid-column: 1;
        grid-row: 6;
        margin: 0 !important;
    }
    
    .textFour {
        grid-column: 1;
        grid-row: 8;
        margin: 0 !important;
    }
    .UpgradeContainer {
        width: 425px;
        grid-template-columns: 425px;
        grid-template-rows: 250px 400px 350px 350px 550px 510px; 
        justify-items: center;
        align-items: center;
    }
    .WideFhoto {
        width: 425px;
        height: 400px;
        grid-column: 1;
        grid-row: 2;
    }
    
    .macroPhoto {
        width: 425px;
        height: 350px;
        grid-column: 1;
        grid-row: 4;
    }
    
    .macroPC {
        grid-column: 1;
        grid-row: 6;
        width: 425px;
        height: 510px;
    }
    
    .UpgradeBlock h2 {
        font-size: 59px;
        line-height: 70px;
    }
    
    .UpgradeBlock p {
        font-size: 17px;
        line-height: 19px;
    }
    
    .UpgradeBlock span {
        font-size: 45px;
        line-height: 50px;
    }
    
    .Upgradelabel {
        margin-left: 55px;
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }
    
    .UpgradeTextBox {
        grid-column: 1;
        grid-row: 3;
        width: calc(386px*0.75);
        height: calc(446px*0.75);
        margin: 0;
    }
    
    .UpgradeAdvantages {
        grid-column: 1;
        grid-row: 5;
        margin: 0;
        justify-content: space-around;
        height: 100%;
    }
    .graphics {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 75px 60px 60px 180px;
        margin: 20px 10%;
    }
    .graphicsListBox {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        overflow: auto;
        display: block;
        height: 50px;
    }
    .graphicsList {
        display: block;
        width: 665px;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .graphicsList :first-child {
        margin-left: 0px;
    }
    .graphicsList :last-child {
        margin-right: 10px;
    }
    .activated, .nonActivated {
        display: inline-block;
        margin-right: 35px;
    }
    .graphicsLines {
        grid-column: 1;
        grid-row: 2/4;
    }
    .graphicsDescription {
        grid-column: 1;
        grid-row: 5;
    }
    .vl {
        display: none;
    }
    ::-webkit-scrollbar { 
        display: none; 
    }
    .nonActivated {
        font-size: 20px;
        line-height: 26px;
    }
    .activated {
        font-size: 24px;
        line-height: 28px;
    }
    .lineContainer p, .mainLineContainer p {
        font-size: 14px;
        line-height: 15px;
        margin-right: 0;
        margin-left: 0;
    }
    .lineContainer, .mainLineContainer  {
        margin-left: 0;
    }
    
    .mainLine, .line {
        height: 5px;
    }
    .mainforce h3 {
        font-size: 42px;
        line-height: 42px;
    }
    .mainforce p {
        font-size: 12px;
        line-height: 14px;
    }
    .force {
        font-size: 22px;
        line-height: auto;
    }
    .graphicsDescription p {
        font-size: 12px;
        line-height: 14px;
    }
    .footnote {
        font-size: 10px !important;
        line-height: 12px !important;
    }
    .guard {
        margin-top: 0;
    }
    .guard h2 {
        font-size: 40px;
        line-height: 45px;
    }
    .guardTextbox {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .guardFooterAchives {
        margin-left: 20px;
    }
    .shild {
        width: 350px;
        height: 280px;
    }
}

@media only screen and (max-width: 600px) {
    .guardTextbox {
        display: none;
    }
    .shild {
        width: 350px;
        height: 320px;
        opacity: 0.1;
        position: absolute;
        right: 0;
    }
    .guardIcon {
        width: 32px;
        height: 32px;
        bottom: 50px;
    }
    .guardFooterAchives {
        margin-bottom: 20px;
    }
    .graphics {
        grid-template-rows: 60px 75px 60px 60px 270px;
    }
    .force {
        font-size: 22px;
        line-height: 22px;
    }
    .force h4 {
        font-size: 22px;
        line-height: 22px;
    }
    .mainforce p {
        font-size: 10px;
        line-height: 14px;
    }
}
@media only screen and (max-width: 435px) {
    .mainLabel h1 {
        font-size: 22px;
        line-height: 61px;
    }
    .mainLabel {
        height: 180px;
    }
    .mainLabelTextbox {
        top: 50px;
        left: 10px;
    }
    .priceLabel h2 {
        font-size: 15px;
        line-height: 23px;
    }
    table {
        font-size: 10px;
        line-height: 15px;
    }
    td {
        font-size: 9px;
        line-height: 12px;
        padding: 5px;
    }
    .consultation {
        height: 250px;
    }
    .consultation h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .consultation p {
        font-size: 12px;
        line-height: 14px;
    }
    .consultation button {
        font-size: 10px;
        line-height: 12px;
        width: 150px;
        height: 30px;
    }
    .fixBlockContainer {
        width: 325px;
        grid-template-columns: 325px;
    }

    .fixBlock h2 {
        font-size: 52px;
        line-height: 57px;
    }
    .textTwo {
        height: auto;
    }

    .UpgradeContainer {
        width: 325px;
        grid-template-columns: 325px;
    }

    .UpgradeBlock h2 {
        font-size: 56px;
    }
    .UpgradeTextBox {
        width: auto;
        height: auto;
    }
    .WideFhoto, .macroPC {
        justify-self: center;
    }

    .graphics {
        grid-template-rows: 50px 105px 45px 45px auto;
    }

    .graphicsListBox {
        height: 30px;
    }
    .nonActivated {
        font-size: 20px;
        line-height: 24px;
        margin-right: 20px;
    }
    .activated {
        font-size: 22px;
        line-height: 26px;
        margin-right: 20px;
    }
    .graphicLine {
        flex-direction: column-reverse;
    }
    .mainLineContainer{
        width: 95%;
        margin: 0;
    }
    .one {
        width: 60%;
    }
    .mainforce h3 {
        font-size: 38px;
        line-height: 38px;
        display: inline-block;
        margin-right: 5px;
    }
    .force {
        display: none;
    }
    .graphicsDescription p {
        font-size: 10px;
        line-height: 12px;
    }
    .footnote {
        font-size: 8px !important;
        line-height: 10px !important;
    }
    .lineContainer p, .mainLineContainer p {
        font-size: 10px;
        line-height: 12px;
        margin: 5px 0;
    }
    .lineContainer, .mainLineContainer {
        margin-bottom: 15px;
    }
    .mainforce p {
        display: inline-block;
    }
    .guard h2 {
        font-size: 35px;
        line-height: 40px;
    }

}
@media only screen and (max-width: 375px) {
    .mainLabel {
        height: 150px;
    }
    .mainLabel h1 {
        font-size: 20px;
        line-height: 25px;
    }
    .guard h2 {
        font-size: 30px;
        line-height: 35px;
    }
}

